
.btn-group{
    margin: 5px;
}

footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
}

#submitCode {
	position: relative;
	left: 15%;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

main {
	position: absolute;
	top: 40%;
	left: 30%;
}

#links {
	background-color: #F5F5F5;
}