body {
	background-color: #e9fce9;
}

.btn-group{
    margin: 5px;
}

footer {
	position: absolute;
	bottom: 0%;
	width: 100%;
}

#links {
	background-color: #FFFAF0;
}

/*Canvas*/

#renderCanvas {
	width: 100%;
  	height: auto;
}

/*Cover for the home page*/

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

main {
	position: relative
	top: 50%;
	left: 30%;
}

#sidebarTitle {
	position: relative;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#hiddenButton {
	display: none;
}

/*Ace code editor*/
#code { 
	width: 800px;
	height: 800px;
}

.ace_basic{
	color: #FF00FF;
}