{% extends "index.html" %}

{% block title %} About L-Py{% endblock %}

{% block body %}
	<body>
{% endblock %}

{% block about %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<img src="{{ url_for('static', filename='img/aboutImg.png') }})"  alt="Lilacs modelised thanks to L-Py software">
		</div>
		<div class="col-md-4">
			<h1 class="text-center">{{ self.title() }}</h1>
			<p class="text-justify">A precise type of formal grammar is used to describe the mecanisms involved in plants growth. Grammars of this type are called L-systems.
			L-Py is a simulation software and a powerful language that mixes L-systems with the Python high-level modeling language. The software allows users to create their L-Py programs and to display the results thanks to the integrated PlantGL 3D Viewer.</p><br />
			<div class="row links">
				<div class="col-md-6">
					<p class="text-center">To download and install the L-Py software :<br />
					<a href="https://lpy-anthony.readthedocs.io/en/latest/user/installing.html" target="_blank" class="btn btn-md btn-info">Download L-Py >></a></p>	
				</div>
				<div class="col-md-6">
					<p class="text-center">To learn a little bit more about L-systems : <br />
					<a href="https://en.wikipedia.org/wiki/L-system" target="_blank" class="btn btn-md btn-info">About L-systems >></a></p>
				</div>
			</div><br />
			<h2 class="text-center">L-PyWeb</h2>
			<p class="text-justify">L-PyWeb allows users to make their simulations online without installing any package.<br />
				It uses the same primitives and keywords than the software version.<br />
			</p>
			<div class="row links">
				<div class="col-md-6">
					<p class="text-center">To read the L-Py primitives documentation :<br />
					<a href="https://lpy-anthony.readthedocs.io/en/latest/user/turtleBasic.html" target="_blank" class="btn btn-md btn-info">Documentation >></a></p>	
				</div>
				<div class="col-md-6">
					<p class="text-center">A short tutorial to learn the basics of L-Py : <br />
					<a href="https://lpy-anthony.readthedocs.io/en/latest/user/tutorial.html" target="_blank" class="btn btn-md btn-info">Tutorial >></a></p>
				</div>
			</div><br />
		</div>
	</div>
{% endblock %}