<!doctype html>
<html lang="en">
	<head>
		<title>{% block title %}L-PyWeb{% endblock %}</title>
		<meta charset="UTF-8">
		<!-- External libs -->
		<script src="static/js/lib/js.cookie-2.2.0.min.js" type="text/javascript"></script>
		<script src="static/js/lib/XtraLife.min.js" type="text/javascript"></script>
		<script src="static/js/lib/ace/src-noconflict/ace.js" type="text/javascript"></script>
		<script src="https://cdn.babylonjs.com/babylon.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<link rel="icon" href="{{ url_for('static', filename='img/LPyIcon.png') }}">
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/styles.css') }}">

		<!-- Internal libs -->
		<script src="static/js/module.js" type="text/javascript"></script>
		<script src="static/js/lstringParser.js" type="text/javascript"></script>
		<script src="static/js/drawTurtle.js" type="text/javascript"></script>
		<script src="static/js/webTurtle.js" type="text/javascript"></script>
	    <script src="static/js/main.js" type="text/javascript"></script>
	    <script src="static/js/editorFunctions.js" type="text/javascript"></script>
	</head>
	{% block body %}
		<body>
	{% endblock %}
    	<div class="row-2 d-flex flex-column flex-md-row align-items-center p-0 px-md-4 bg-success border-bottom shadow-sm">
			<a class="my-0 mr-md-auto font-weight-normal text-light navbar-brand" href="{{ url_for('home') }}">L-PyWeb</a>
			<nav class="my-2 my-md-0 mr-md-3">
	  			{% block home %} <a class='btn btn-success' type="button" title="Return to homepage" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a> {% endblock %}
	  			{% block editor %}<a class='btn btn-success' type="button" title="Go to the L-Py Editor" href="{{ url_for('editor') }}"><i class="fab fa-pagelines"></i> L-Py Editor</a>
	  			{% endblock %}
	  			{% block about %}<a class='btn btn-success' type="button" title="To learn about L-Py" href="{{ url_for('about') }}" target="_blank"><i class="far fa-question-circle"></i> About L-Py</a>{% endblock %}
	  			<a class="btn btn-success" type="button" alt="Read some documentation" title="Read some documentation"
					href="https://lpy-anthony.readthedocs.io/en/latest/user/turtleBasic.html" target="_blank"><i class="fas fa-book"></i> Documentation</a>
	  		</nav>
		</div>
		{% block content %}
		{% endblock %}
		
		<div class="bg-light footer">
			<div class="text-center text-success"><p>L-PyWeb - &copy; 2019 Copyright: F. Boudon and C. Godin
			{% block footer %}
			{% endblock %}
			</p></div>
		</div>
	    {% block script %}
	    {% endblock %}
	</body>
</html>